.title{
	position : relative;
	text-align : center;
	left : 50%;
	width : 200px;
	margin-left : -100px;
}
.contents{
	position : relative;
	top : 30px;
	left : 50%;
	width : 1000px;
	margin-left : -500px;
}		
div.greenTable {
  font-family: Georgia, serif;
  border: 0px solid #949494;
  background-color: #FFFFFF;
  width: 100%;
  border-collapse: collapse;
}
.divTable.greenTable .divTableCell, .divTable.greenTable .divTableHead {
  border: 1px solid #000000;
  padding: 3px 2px;
}
.divTable.greenTable .divTableBody .divTableCell {
  font-size: 13px;
}
.divTable.greenTable .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.greenTable .tableFootStyle {
  font-size: 13px;
  font-weight: bold;
}
.greenTable .tableFootStyle {
  font-size: 13px;
}
.greenTable .tableFootStyle .links {
	 text-align: right;
}
.greenTable .tableFootStyle .links a{
  display: inline-block;
  color: #101010;
  padding: 2px 8px;
  border-radius: 5px;
}
.greenTable.outerTableFooter {
  border-top: none;
}
.greenTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
.divTableRow>div:first-child{                                        
	width : 5px;
	text-align : center;
}
.divTableRow>div:nth-child(2){
	width : 300px;
	text-align : center;
}
.divTableRow>div:nth-child(3){
	width : 200px;
}
.divTableRow>div:nth-child(4){
	width : 100px;
	text-align : center;
}
.divTableRow>div:nth-child(5){
	width : 10px;
	text-align : center;
}


/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.divTableBody a,.tableFootStyle a{
	text-decoration:none;
	color : black;
}
body{
      overflow:hidden;
   }
   a{
      cursor: pointer;
   }
   #wrapper{
      position: relative;
      height : 100%;
   }
   #nav{
      position: absolute;
      border : 1px solid red;
      width : 20%;
      background-color: #007acc;
      height : 3000px;
      color : white;
   }
   #nav input{
      color : black;
   }
   #main{
      position: absolute;
      border : 1px solid blue;
      width : 80%;
      left : 20%;
      height : 100%;
   }
   #paging_button{
      position: absolute;
      left : 30%;
      display: none;
   }
   #search_result{
      display: none;
   }
   #history_result{
      display: none;
   }
   #search_detail{
      position: relative;
      border: 1px solid green;
      display: none;
   }
   #history_result{
      display: none;
   }
   #popular_result{
      display: none;
   }
   #logout_nav{
      margin-bottom : 50px;
      border:1px solid red;
   }
   #search_nav{
      margin-bottom : 50px;
   }
   #history, #popular{
      cursor: pointer;
   }
   /*맵입력*/


#title{
	border : 1px solid red;
	font-size: 40px;
	font-weight:bold;
	text-align: center;
	margin : 0 auto;
	margin-bottom : 20px;
}
#user_info{
	border: 1px solid red;
	font-size: 20px;
	margin-bottom : 5px;
}