.title{
	position : relative;
	text-align : center;
	left : 50%;
	width : 200px;
	margin-left : -100px;
}
.contents{
	position : relative;
	top : 30px;
	left : 50%;
	width : 1000px;
	margin-left : -500px;
}		
div.greenTable {
  font-family: Georgia, serif;
  border: 0px solid #949494;
  background-color: #FFFFFF;
  width: 100%;
  border-collapse: collapse;
}
.divTable.greenTable .divTableCell, .divTable.greenTable .divTableHead {
  border: 1px solid #000000;
  padding: 3px 2px;
}
.divTable.greenTable .divTableBody .divTableCell {
  font-size: 15px;
  padding : 10px;
}
.divTable.greenTable .divTableHeading .divTableHead {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.greenTable .tableFootStyle {
  font-size: 13px;
  font-weight: bold;
}
.greenTable .tableFootStyle {
  font-size: 13px;
}
.greenTable .tableFootStyle .links {
	 text-align: right;
}
.greenTable .tableFootStyle .links a{
  display: inline-block;
  color: #101010;
  padding: 2px 8px;
  border-radius: 5px;
}
.greenTable.outerTableFooter {
  border-top: none;
}
.greenTable.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
.divTableRow>div:first-child{                                        
	width : 5px;
	text-align : center;
}
.divTableRow>div:nth-child(2){
	width : 300px;
	text-align : center;
}
.divTableRow>div:nth-child(3){
	width : 200px;
}
.divTableRow>div:nth-child(4){
	width : 100px;
	text-align : center;
}
.divTableRow>div:nth-child(5){
	width : 10px;
	text-align : center;
}


/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.divTableBody a,.tableFootStyle a{
	text-decoration:none;
	color : black;
}
   body{
      overflow:hidden;
   }
   a{
      cursor: pointer;
   }
   #wrapper{
      position: relative;
      height : 100%;
   }
   #nav{
      position: absolute;
      width : 20%;
      background-color: #007acc;
      height : 3000px;
      color : white;
   }
   #nav input{
      color : black;
   }
   #main{
      position: absolute;
      width : 80%;
      left : 20%;
      height : 100%;
   }
   #paging_button{
      position: absolute;
      left : 30%;
      display: none;
   }
   #search_result{
      display: none;
   }
   #history_result{
      display: none;
   }
   #search_detail{
      position: relative;
      display: none;
   }
   #history_result{
      display: none;
   }
   #popular_result{
      display: none;
   }
   #logout_nav{
      margin-bottom : 50px;
   }
   #search_nav{
      margin-bottom : 50px;
   }
   #history, #popular{
      cursor: pointer;
      display: block;
      padding: 16px;
      text-align: center;
      border : 1px solid #007acc;
      background-color: white;
      color: black;
      font-size: 20px;
   }
   #history:hover, #popular:hover{
      background-color: #e6eeff;
 	  color: black;
   }
   /*맵입력*/

#kk_map {
width: 700px;
TOP: 81PX;
height: 400px;
z-index: 1;
}

/*타이틀*/

#kk_title {
width: 100%;
height: 100px;
background-color: #68ca86;
margin-top: 6%;

}
.kk_wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.kk_wrap * {padding: 0;margin: 0;}
.kk_wrap .kk_info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.kk_wrap .kk_info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.kk_info .kk_title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.kk_info .kk_close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.kk_info .kk_close:hover {cursor: pointer;}
.kk_info .kk_body {position: relative;overflow: hidden;}
.kk_info .kk_desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.kk_desc .kk_ellipsis {overflow: visible;text-overflow: ellipsis;white-space: pre-line;}
.kk_desc .kk_jibun {font-size: 11px;color: #888;margin-top: -2px;}
.kk_info .kk_img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: visible;}
.kk_info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.kk_info .kk_link {color: #5085BB;}
#title{
	font-size: 40px;
	font-weight:bold;
	text-align: center;
	margin : 0 auto;
	margin-bottom : 20px;
}
#user_info{
	font-size: 20px;
	margin-bottom : 5px;
}
.button {
  border: none;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 223px;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
.button4:hover {background-color: #e7e7e7;}
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#search_go{
	background-color: white;
	width : 60px;
}
#search_val{
	width: 200px;
}
.result_bar{
	height : 50px;
	background-color: #007acc;
	color: white;
	font-size: 25px;
	line-height: 2;
}
.detail_wrap{
	position: relative;
	top: 20px;
	left: 20px;
}
.detail_wrap div{
	padding : 5px;
	font-size: 15px;
	font-weight: bold;
}
